<!-- Cities -->
<h2 class="section-title">Cities</h2>
<button class="btn add" (click)="addCity()"
  [disabled]="false">Add New City</button>
<div class="card-grid">
  <div class="card" *ngFor="let city of cities()">
    <h3>{{ city.name }}</h3>
    <button
      class="btn delete"
      [class.disabled]="city.fieldsCount > 0"
      [disabled]="city.fieldsCount > 0"
      (click)="deleteCity(city)">
      Delete
    </button>
     @if (city.fieldsCount > 0) {
      <p class="warning">
        Cannot delete a city that contains fields
      </p>
     }
  </div>
</div>

<!-- Categories -->
<h2 class="section-title">Categories</h2>
<button class="btn add" (click)="addCategory()" [disabled]="false">Add New Category</button>
<div class="card-grid">
  <div class="card" *ngFor="let category of categories()">
    <h3>{{ category.name }}</h3>
    <button
      class="btn delete"
      [class.disabled]="category.fieldsCount > 0"
      [disabled]="category.fieldsCount > 0"
      (click)="deleteCategory(category)">
      Delete
    </button>
     @if (category.fieldsCount > 0) {
      <p class="warning">
        Cannot delete a category that contains fields
      </p>
     }
  </div>
</div>

<!-- Fields -->
<h2 class="section-title">Fields</h2>
<div class="card-grid">
  <div class="card field-card" *ngFor="let field of fields()">
        @if (field.fieldImages.length) {
       <img
          [src]="field.fieldImages[0].imageUrl"
          class="field-img"
          alt="Field Image">
        }

    <h3>{{ field.name }}</h3>
    <p class="info">City: {{ field.cityName }}</p>
    <p class="info">Category: {{ field.categoryName }}</p>

    <span class="badge" [class.approved]="field.isApproved">
      {{ field.isApproved ? 'Approved' : 'Pending' }}
    </span>

    @if (field.hasApprovalDocument) {
      <button
        class="btn pdf"
        (click)="downloadPdf(field)">
         Download Document
      </button>
    }

    <div class="btn-row">
      <button class="btn approve"
              (click)="approveField(field)"
              [disabled]="field.isApproved">
        Approve
      </button>

      <button class="btn reject"
              (click)="rejectField(field)"
              [disabled]="!field.isApproved">
        Reject
      </button>

      <button class="btn delete"
              (click)="deleteField(field)">
        Delete
      </button>
    </div>
  </div>
</div>
