<h2 class="page-title">My Upcoming Paid Reservations</h2>

<!-- Loading -->
<div *ngIf="bookingService.loading()" class="loading">
  Loading your reservations...
</div>

<!-- Empty -->
<div
  *ngIf="!bookingService.loading()
  && bookingService.reservations().length > 0
  && bookingService.upcomingPaidReservations().length === 0"
  class="empty-state"
>
  <mat-icon>event_busy</mat-icon>
  <p>No upcoming paid reservations</p>
</div>

<!-- List -->
<div
  class="reservations-grid"
  *ngIf="bookingService.upcomingPaidReservations().length > 0"
>
  <div
    class="reservation-card"
    *ngFor="let r of bookingService.upcomingPaidReservations()"
  >

    <div class="card-header">
      <mat-icon>sports_soccer</mat-icon>
      <span>{{ r.fieldName }}</span>
    </div>

    <div class="card-body">

      <p>
        <mat-icon>schedule</mat-icon>
              {{ getLocalDate(r.slotStart) | date:'medium' }}
      </p>

      <p class="price">
        <mat-icon>payments</mat-icon>
        {{ r.amountPaid }} EGP
      </p>
    </div>

  </div>
</div>
