.time-slot-box {
  width: 110px;
  min-height: 90px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #fff;
}


.slot-available {
  background-color: #198754;
}

.slot-available:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.slot-booked {
  background-color: #dc3545;
  cursor: not-allowed;
  opacity: 0.9;
}
 .slot-being-booked {
  background-color: #ffc107;
  opacity: 0.9;
}

.slot-being-booked:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.time-slot-box:disabled {
  pointer-events: none;
}
