.hero-header {
  height: 100vh;
  display: flex;
  background-image: url('../../../assets/images/Header1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991.9px) {
  .hero-header {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-header .btn {
    margin-bottom: 90px;
  }
}
