.hero-header {
  height: 70vh;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('/images/Header4.jpg');
  background-size: cover;
  background-position: bottom;
  background-position-x: left;
  background-position: calc(50% + 150px) center !important;
  background-repeat: repeat;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991.9px) {
  .hero-header {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-header .btn {
    margin-bottom: 90px;
  }
}
