.hero-header {
  height: 250px;
  display: flex;
  background: 
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
  url('/images/Header1.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 991.9px) {
  .hero-header {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-header .btn {
    margin-bottom: 90px;
  }
}
