.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  /* background-color: #172554; */
  background-color: #323a52;
  padding: 1rem 0;
}

.login{
  color: #53d977;
  border: none;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

.nav-link {
  color: rgb(255, 255, 255);
}
@media (max-width: 576.9px) {
  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .nav-item .nav-link {
    margin-left: 10px;
  }

  .navbar-collapse .login {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 767.97px) {
  .navbar-collapse {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-left: 0px;
    margin-right: auto;
    display: block;
  }

  .navbar-toggler {
    margin-right: 0px;
    margin-left: auto;
    display: block;
  }
  .navbar-nav {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .nav-item .nav-link {
    margin-left: 10px;
  }

  .navbar-collapse .login {
    display: none;
  }
}

@media (min-width: 767.98px) and (max-width: 991.9px) {
  .navbar-collapse {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .navbar-collapse .login {
    display: none;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
