<div class="container my-5">
  <!-- Mission -->
  <div class="row align-items-center mb-5">
    <!-- Image Left -->
    <div class="col-md-6 mb-4 mb-md-0">
      <img
        [src]="missionImage"
        class="img-fluid rounded shadow-sm w-75 d-block mx-auto"
        alt="Mission Image"
      />
    </div>

    <!-- Text Right -->
    <div class="col-md-6">
      <h2 class="fw-bold mb-3 text-center fs-2 fw-bold">Mission</h2>
      <p class="text-muted lh-lg fs-5 fw-semibold fst-italic">
        Our mission is to simplify how players organize matches, and book football fields through a
        smart, user-friendly digital platform. We aim to make playing sports more accessible,
        organized, and enjoyable — helping communities stay active while supporting field owners
        with efficient booking management.
      </p>
    </div>
  </div>

  <!-- Vision -->
  <div class="row align-items-center mb-5">
    <!-- Text Left -->
    <div class="col-md-6 order-md-1 order-2 text-center text-md-start">
      <h2 class="fw-bold mb-3 fs-2 text-center">Vision</h2>
      <p class="text-muted lh-lg fs-5 fw-semibold fst-italic">
        Our vision is to become the leading platform for sports booking and community play —
        inspiring people to stay connected through sports, empowering local field owners, and
        building a vibrant network where every player finds their perfect game, anytime, anywhere.
      </p>
    </div>

    <!-- Image Right -->
    <div class="col-md-6 order-md-2 order-1 mb-4 mb-md-0">
      <img
        [src]="vissionImage"
        class="img-fluid rounded shadow-sm w-75 d-block mx-auto"
        alt="Vision Image"
      />
    </div>
  </div>
</div>
