.card {
  width: 450px;
  height: auto;
  margin: auto 120px;
  background-color: rgb(255, 255, 255);
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.word {
  /* color: #3b82f6; */
  color: #172554;
}

.cardTitle {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 55px;
  margin-top: 10px;
  color: #ffbf00;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0px;
}

.text {
  color: #172554;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 20px auto 0px;
}


mat-form-field
 {
  width: 100%;

}

.custom-btn{
  background-color: #172554;
  color: white;
  width: 100%;
}


.mat-mdc-option .flex {
  display: flex;
  align-items: center;
  gap: 8px;
}


.mat-mdc-option mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
